os:
- linux
- osx
language: node_js
node_js:
- '6'
- '7'
- '8'
matrix:
  fast_finish: true
install:
- npm install
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start &
- sleep 3
before_deploy:
- npm run build
deploy:
  provider: npm
  email: thepeterdemartini@gmail.com
  api_key:
    secure: VNF2ar2dX87GOnMaP+PUOsB7dRt7eoOmOsA2F3ML1IIq92Mafxtub99B7On6IWemtUBMSXhml6uT1uYxJtuJrvonKxbdlNNfrBzIqCduJCKxnRLDECPGNkBjeXfIRMWv2ibhaK9yzz8tqybq8ave6kxdz1GROGONoXH1Hhwrcdo=
  skip_cleanup: true
  on:
    node: '8'
    tags: true
    repo: peterdemartini/html5-to-pdf
